<CascadingValue Value="@this">
    <div class="container">
        <div class="row">
            <div class="col-6">
                
                <div>inventory</div>
                <div>
                    <div class="css-grid">

                        @for (int i = 0; i<18; i++)
                        {
                            <InventoryLeft Item="InventoryItems[i]" Index="i" />
                        }
             
                    </div>
                </div>
            </div>

            <div class="col-6">
                <div>Items List</div>   
                 <div>
                    <div class="css-grid">
                        
                        @foreach (var item in Items)
                        {
                            <InventoryLeft Item="item" NoDrop="true" Index="-1" />
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</CascadingValue>